body {
    background-color: #9EDDAC;
    
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    color: #004055;
}

#logoutButton {
    float: right;
}

#newStoryButton {
    float: right;
}

#welcome {
    font-size: 18px;   
}
