body {
    background-color: #9EDDAC;
    
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #004055;
}

#newsfeedButton {
    float: right;
}

#newcommentButton {
    float: right;
}

#title {
    font-size: 18px;   
}

