body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    font-family: Helvetica, Arial, sans-serif;
    color: #004055;
}

#header {
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #3D3B3B;
    color: white;
    text-align: center;
    font-weight:bold;
    font-size: xx-large;
    position: fixed;
    width: 100vw;
    height: 10vh;
    z-index: 1;
}

#nav {
    height: 100vh;
    top: 20vh;
    width: 200px;
    background-color: #eeeeee;
    right: 0;
    text-align: center;
    padding-top: 20px;
    position: fixed;

}

.textinput {
    font-size: 12pt;
    width: 200px;
}

.button {
    font-size: 12pt;
    width: 175px;
}

#warning {
    color: #C61E1E;
}

#title{
    font-size: 18pt;
    font-weight: bold;
}

#user{
    font-size: 10pt;
    font-style: italic;
}

#text{
    font-size: 12pt;
}

#link{
    font-size: 12pt;
}

#commentHeader{
    font-size: 12pt;
    font-weight: bold;
}

#titleBox {
    text-align: left;
    width: 60vw;
    height: 5vh;
    resize: none;
    
}

#storyButtons, #commentButton {
    float: right;
}

#commentButtons {
    float: right;
}

hr {
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#textBox {
    text-align: left;
    width: 60vw;
    height: 20vh;
    resize: none;
}

#linkBox {
    text-align: left;
    width: 60vw;
    height: 5vh;
    resize: none;
}

#commentBox {
    text-align: left;
    width: 40vw;
    height: 10vh;
    resize: none;
}

.inlineButton {
    display: inline-block;
}

#leftSection{
    text-align: left;
    position: relative;
    height: 100vh;
    top: 20vh;
    width: 80vw;
    position: absolute;
    padding-left: 25px;
    padding-top: 25px;
}

#centerSection{
    text-align: center;
    position: relative;
    height: 100vh;
    top: 20vh;
    width: 100vw;
    position: absolute;
}

#imageSection{
    background-image: url("kitten.jpg");
    background-size: auto;
    text-align: center;
    position: absolute;
    height: 100vh;
    top: 20vh;
    padding-top: 100px;
    width: 100vw;
}
#footer {
    background-color: #3D3B3B;
    color: white;
    text-align: center;
    font-size:medium;
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    width: 100vw;
}
